@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}
  @font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

/* ////////////////////////////////////////////////////////////////// */
/* CONTROLS */
.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 60px);
    width: 20%;
    user-select: none;
    -webkit-user-select: none;
} 

.logo {
    margin-top: -20px;
    padding-bottom: 5%;

    display: flex;
    justify-content: center;
    min-height: 65px;
    max-height: 75px;
}

.logo img{
    min-height: 40px;
    max-height: 65px;
}

.consoleBtn {
    font-family: "Roboto-Regular";
    font-size: 15px;
    letter-spacing: 10px;

    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin: 2%;

    color: #d7ebff;
    background: #8199B1;
    border: none;
}

.consoleBtn:hover {
    color: #d7ebff;
    background: #90a7be;
}

.consoleBtn:focus {
    color: #d7ebff;
    background: #90a7be;
    outline: none;
}

.info-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 4%;
    border-radius: 5px;
    color: #d7ebff;
    background: #8199B1;
    /* allow the user to copy the number if needed */
    user-select: text;
    -webkit-user-select: text;
    
}

.info-container h1 {
    font-family: "Roboto-Thin";
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 5px;
    text-indent: 5px;
    text-align: center;
    
}
.info-container p {
    font-family: "Roboto-Regular";
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: 8%;

    letter-spacing: 14px;
    text-indent: 14px;
    text-align: center;
}

/* ////////////////////////////////////////////////////////////////// */
