@font-face {
    font-family: "Fred";
    src: url(../fonts/FredokaOne-Regular.ttf);
}

  
/* PAGE SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #C0BFFF;
    font-family: "Fred";
    color: white;
    transition: all 0.1s ease-in;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    box-sizing: border-box;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.lady {
  position: absolute;
  left: -70px;
  bottom: 0px;
  height: 100vh;
  z-index: -1;
}
