.nav-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* Nav height is 60px, remove 60px from height of bellow elements */
    height: 60px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.window-constrols-container, .title-container, .theme-container {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}
.window-constrols-container{
    margin-top: 10px;
    margin-left: 1%;
    -webkit-app-region: no-drag;
}

.window-constrols-container button {
    animation: none;
    display: flex;
    height: 15px;
    width: 15px;
    border: 5px solid #474787;
    border-radius: 25px;
    background-color: #474787;
    margin-left: 10px;
}
.window-constrols-container button:hover {
    background-color: #8787af;
    border-color: #8787af;
}
.window-constrols-container button:focus {
    outline: 0;
}
.title-container {
    justify-content: center;
    align-self: center;
}
.title-container h1{
  display: none;
    font-size: 35px;
    font-family: "Fred";
    font-weight: 100;
}
.title-container img{
  height: 35px;
}